*.docx
*.db
cache/*
downloads/*
source/*
scripts/*
lib/__pycache__/
__pycache__
struct*.json
gattungen-ac
example*.py
*.htm
20*
*.py
*.csv
*.xml
*.cypher
!placeData.csv
!vorlagen.py
!lib/*py
digi_fail.db
